<!--

    Copyright 2013-2017 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div class="row">
	<div class="col-sm-12">
		<div class="form-group">
			<div class="checkbox" style="padding-top:5px;display:none;" id="adue-allCB">
				<label>
					<input type="checkbox" class="adue-editable"> <span class="bundle">All users</span>
				</label>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<label class="control-label bundle" for="userFilter">User lookup</label>
			<input disabled class="form-control adue-editable" type="text" id="userFilter" value="">
		</div>
		<div class="form-group">
			<button disabled type="button" class="btn btn-default adue-editable" id="addBtn">
				<i class="fa fa-plus"></i> <span class="bundle">Add user</span>
			</button>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="form-group">
			<label class="control-label bundle" for="selectionSB">Selected users</label>
			<div class="check-list form-control" id="selectionSB" style="height:175px;"></div>
		</div>
		<div class="form-group">
			<button disabled type="button" class="btn btn-default adue-editable" id="removeBtn">
				<i class="fa fa-minus"></i> <span class="bundle">Remove selected</span>
			</button>
		</div>
	</div>
</div>