<!--

    Copyright 2013-2017 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
	<div class="dlg-content dlg-content-no-tool-bar">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label class="control-label bundle" for="firmName">Name</label>
					<input disabled id="firmName" class="form-control editable" type="text" maxlength="250"></input>
				</div>
				<div class="form-group">
					<label class="control-label bundle" for="contactName">Contact name</label>
					<input disabled id="contactName" class="form-control editable" type="text" maxlength="250"></input>
				</div>
				<div class="form-group">
					<label class="control-label bundle" for="contactPhone">Contact phone</label>
					<input disabled id="contactPhone" class="form-control editable" type="text" maxlength="250"></input>
				</div>
				<div class="form-group">
					<label class="control-label bundle" for="allowedDomains">Allowed domains</label>
					<input disabled id="allowedDomains" class="form-control editable" 
						type="text" maxlength="350" placeholder="coma separated domains"></input>
				</div>
				<div>
					<div class="form-group col-sm-6">
						<label class="checkbox-inline"><input id="active" type="checkbox" class="editable"> <span class="bundle">active-f</span></label>
					</div>
					<div class="form-group col-sm-6">
						<label class="checkbox-inline"><input id="twoStepsSignin" type="checkbox" class="editable"> <span class="bundle">Two steps sign in</span></label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="dlg-button-bar align-right">
		<a class="label label-default pull-left" id="modifyLink" style="display:none;"><i class="fa fa-pencil"></i> <span class="bundle">Modify</span></a>
		<button type="button" class="btn btn-default cancel" id="cancelBtn"><i class="fa fa-remove"></i> <span class="bundle">Cancel</span></button>
		<button type="button" class="btn btn-default save" id="saveBtn"><i class="fa fa-save"></i> <span class="bundle">Save</span></button>
		<button type="button" class="btn btn-default cancel" id="closeBtn"><i class="fa fa-remove"></i> <span class="bundle">Close</span></button>
	</div>
