<!--

    Copyright 2013-2017 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div class="dlg-content dlg-content-no-tool-bar">
	<div class="row" id="idPane">
		<div class="col-sm-5">
				<div class="form-group">
					<label class="control-label bundle" for="groupId">ID</label>
					<input disabled id="groupId" class="form-control editable" type="text" maxlength="150"></input>
				</div>
		</div>
		<div class="col-sm-7">
				<div class="form-group">
					<label class="control-label bundle" for="description">Description</label>
					<input disabled id="description" class="form-control editable" type="text" maxlength="150"></input>
				</div>
		</div>
	</div>
	
	<div id="userSelPane"></div>
</div>	

<div class="dlg-button-bar align-right">
	<a class="label label-default pull-left" id="modifyLink" style="display:none;"><i class="fa fa-pencil"></i> <span class="bundle">Modify</span></a>

	<button type="button" class="btn btn-default cancel" id="cancelBtn"><i class="fa fa-remove"></i> <span class="bundle">Cancel</span></button>
	<button type="button" class="btn btn-default save" id="saveBtn"><span class="bundle">Save</span> <i class="fa fa-ok"></i></button>
	<button type="button" class="btn btn-default cancel" id="closeBtn"><i class="fa fa-remove"></i> <span class="bundle">Close</span></button>
</div>
