<!--

    Copyright 2013-2017 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div style="padding:10px;">
<div style="min-height: 340px;">
<div id="searchUserPanel">
	<div style="clear:both;">
		<div id="userFilterTD" class="pull-left" style="padding:2px;">
			<label class="control-label bundle" for="userFilter">User lookup</label>
			<input class="input-medium canEdit" type="text" id="userFilter" value="">
		</div>
	</div>
</div>
<div id="result">
 	<table id="resultTable" class="table table-striped table-hover">
		<thead>
			<tr>
				<th><span class="bundle">#</span></th>
				<th><span class="bundle">ID</span></th>
				<th><span class="bundle">Name</span></th>
				<th><span class="bundle">Firm</span></th>
				<th><span class="bundle">active-m</span></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

</div>

<div style="clear:both;">
	<hr style="margin: 0px; margin-bottom: 5px; margin-top: 5px;">
	<div style="text-align: right;">
		<button type="button" class="btn refresh" id="resetBtn"><i class="icon-repeat"></i> <span class="bundle">Reset</span> </button>
		<button type="button" class="btn cancel" id="cancelBtn"><i class="icon-remove"></i> <span class="bundle">Cancel</span></button>
	</div>
</div>
</div>

<script type="text/javascript">
if (!App.sec.user.searchCmpSetup) {
App.sec.user.searchCmpSetup = function(parent, onReady) {
	var _parent = parent;
	var _onReady = onReady;
	var _html;
	var _userSearchTimer;
	var _args;

	var _reqIdFirm = null;
	var _firms = {};
	
	var _count = 0;
	var _totalRows;
	var _cReqId;

	var init = function(args) {
		_args = args;
		_html = _parent.getDom();
		_msgPanel = new MsgPanel(_html.find(".window_frame"), '80%', '24px', '5%', 'jb');
		_msgPanel.hideMsg();

		/*_html.find('#resultTable').ScrollableTable().
		ScrollableTable("setBordered", true);*/

		//_html.find('#resultTable').tablesorter();


		_reqIdFirm = App.sec.firm.listFirm({streaming : false, sys:"sec", func:"firms", mode:"READ"}, function(result_) {
			if (!result_ || result_.hasError || result_.reqId != _reqIdFirm)
				return;
			var firms = result_.data;
			for ( var cc = 0; cc < firms.length; cc++) {
				var firm = firms[cc];
				_firms[firm.firmId] = firm.firmName;
			}
		});


		_html.find('#userFilter').keydown(function() {
			if (_userSearchTimer != null) {
				clearTimeout(_userSearchTimer);
			}
			_userSearchTimer = setTimeout(userFilterChanged, 500);
		});


		_html.find('#cancelBtn').click(function() {
			close();
		});

		_html.find('#resetBtn').click(function() {
			reset();
		});

		if (_onReady) {
			_onReady();
		}
	}



	var userFilterChanged = function() {
			_html.find('#userFilterTD').show();
		
			listUsers();
	};

	var close = function() {
		_parent.close();
	}

	var reset = function() {
		_html.find('#userFilter').val('');
		userFilterChanged();
	}

	function clear() {

		var tbody = $('#resultTable > tbody');
		tbody.empty();
	}

	function listUsers() {
		App.hideMsg();
		clear();
		_count = 0;
		var crit = {};

		if (_userSearchTimer != null) {
			clearTimeout(_userSearchTimer);
			_userSearchTimer = null;
		}
		var filter = _html.find('#userFilter').val();
		if (butor.Utils.isEmpty(filter)) {
			return;
		}
		var crit = {};
		if (filter != '') {
			crit.displayName = filter;
		}

		_cReqId = App.sec.user.listUser(crit, 
			function(result_) {
				if (!result_ || result_.hasError || result_.reqId != _cReqId)
					return;

				if (result_.complete) {
					App.removeStatus();
					_html.find('#refreshBtn').button('reset');

					return;
				}

				if (result_.type == "row") {
					handleListUser(result_.data);
				} else if (result_.type == "msg") {
					for (var ii=0; ii<result_.data.length; ii++) {
						var msg = result_.data[ii];
						if (msg.type == "DATA" && msg.id == "totalRows") {
							_totalRows = msg.message;
							App.showStatus('Found ' +_totalRows +' securities');
							App.progress(0, _totalRows, 'loading ' +0 +'/' +_totalRows);
						}
					}
				}
			});
	}
	var handleListUser = function(data_) {
		var tbody = _html.find('#resultTable > tbody');

		for (var ii=0; ii<data_.length; ii++) {
			var user = data_[ii];
			_count++;
			App.progress(_count, _totalRows, 'loading ' +_count +'/' +_totalRows);

			var row = $("<tr class=\"user\">");
			row.html("<td class=\"number\">" +_count +"</td><td>" + user.id +
					"</td><td>" +user.displayName +"</td><td>" +
					(user.firmName ? user.firmName : _firms[user.firmId]) +
					'</td><td class="align-center">' +(user.active ? "<i class=\"icon-ok\"></i>" : '') +
					"</td>");

			row.attr('id', user.id);
			row.attr('firstName', user.firstName);
			row.attr('lastName', user.lastName);
			row.attr('displayName', user.displayName);
			row.attr('email', user.email);
			if (user.revNo > 0) {
				row.attr('revNo', user.id);
			}

			row.css('cursor', 'pointer').click(function(){
				selectUser($(this));
			});

			tbody.append(row);
		}
		var selectUser = function(row) {
			//App.events.fire('user-found', row.attr("id"));
			if(_args != null && _args.selectionHandler != null && typeof(_args.selectionHandler) == "function") {
				var user = {"id":row.attr("id"),
						"firstName":row.attr("firstName"),
						"lastName":row.attr("lastName"),
						"displayName":row.attr("displayName"),
						"email":row.attr("email")};
				_args.selectionHandler(user);
			}
			close();
			
		}
	}
	function adjustTableHeight() {
		var wh = $(window).height();
		var tt = $('#resultTable').offset().top;
		var fh = $('#_footer').height() +50;
		var h = wh -tt -fh;
		$('#resultTable').ScrollableTable("setHeight", h).ScrollableTable("resize");
	}

	return {
		init : init
	};
}
}
//Externs in chrome debugger
//@ sourceURL=App.sec.user.searchCmpSetup
</script>
