/**
 * Copyright 2013-2017 butor.com
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
td.sec-auth-who,.table-striped tbody>tr>td.sec-auth-who {
	background-color: #E6E3E4;
}

td.sec-auth-what,.table-striped tbody>tr>td.sec-auth-what {
	background-color: #D4D4D4;
}

.sec-user-lookup-table {
	position: absolute;
	top: 65px;
	left: 5px;
	right: 5px;
	bottom: 55px;
}
/*TODO remove
.sec-user-dlg {
	position: absolute;
	top: 90px;
	bottom: 40px;
	left: 5px;
	right: 5px;
}
*/
/*TODO exp for criteria layout */
.dialog-button-bar {
	position: absolute;
	left: 5px;
	right: 5px;
	padding-top: 5px;
	border-top: 1px solid #ccc;
}

.form-inline {
	margin-bottom: 8px;
}

.form {
	margin-bottom: 8px;
}

.form .form-group {
	padding-left: 0;
	x-padding-right: 0;
}

.check-list {
	padding: 4px;
	white-space: nowrap;
	overflow-y: scroll;
	border: 1px solid #ccc;
	background-color: white;
}