<!--

    Copyright 2013-2017 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div class="dlg-tool-bar">
	<div class="row">
		<div class="col-sm-12">
			<ul id="userTabs" class="nav nav-pills" style="margin-bottom: 2px;">
				<li id="tabUser" class="active"><a><i class="icon-lock"></i>
						<span class="bundle">User</span></a></li>
				<li id="tabGroup"><a><i class="icon-filter"></i> <span
						class="bundle">Group</span></a></li>
			</ul>
		</div>
	</div>
</div>
<div class="dlg-content">
	
	<div class="well" id="resetOnDomain"
		style="display: none; position: absolute; left: 10%; right: 10%; top: 24px; z-index: 1050;">
		<div id="domainsBlock" style="display: none;">
			<label class="control-label bundle">Reset on which domain?</label>
			<div id="domains">
				<div class="radio">
					<label> <input type="radio" name="domain" value="d1">
						<span class="bundle"></span>
					</label>
				</div>
			</div>
		</div>
		<div id="resetLink" style="overflow: auto; display: none;"></div>
	
		<div class="text-center">
			<button type="button" class="btn btn-default" id="cancelResetBtn">
				<i class="fa fa-remove"></i> <span class="bundle">Cancel</span>
			</button>
			<button type="button" class="btn btn-danger" id="confirmResetBtn">
				<i class="fa fa-save"></i> <span class="bundle">Reset</span>
			</button>
			<button type="button" class="btn btn-default" id="okResetBtn">
				<span class="bundle">OK</span> <i class="fa fa-ok"></i>
			</button>
		</div>
	</div>

	<div id="userPanel">
		<div class="row">
			<div class="form col-sm-6">
				<div class="form">
					<div class="form-group">
						<label class="control-label bundle" for="id">ID</label> <input
							id="id" class="form-control editable" type="text" maxlength="150"></input>
					</div>
					<div class="form-group">
						<label class="control-label bundle" for="email">Email</label> <input
							id="email" class="form-control editable" type="text"
							maxlength="150"></input>
					</div>
					<div class="form-group">
						<label class="control-label bundle" for="firstName">First
							name</label> <input id="firstName" class="form-control editable"
							type="text" maxlength="150"></input>
					</div>
					<div class="form-group">
						<label class="control-label bundle" for="lastName">Last
							name</label> <input id="lastName" class="form-control editable"
							type="text" maxlength="150"></input>
					</div>
					<div class="form-group">
						<label class="control-label bundle" for="displayName">Display name</label>
						<input id="displayName" class="form-control editable"
							type="text" maxlength="300"></input>
					</div>
					<div class="form-group">
						<label class="control-label bundle" for="fullName">Full name</label>
						<input id="fullName" class="form-control editable"
							type="text" maxlength="300"></input>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form">
					<div class="form-group">
						<label class="control-label bundle" for="firmId">Firm</label> <select
							id="firmId" class="form-control editable"></select>
					</div>
					<div class="form-group">
						<label class="control-label bundle" for="phone">Phone</label> <input
							id="phone" class="form-control editable" type="text"
							maxlength="150"></input>
					</div>
					<div class="form-group pwd">
						<label class="control-label bundle" for="pwd1">New password</label>
						<input disabled id="pwd1" class="form-control editable"
							type="password" maxlength="100"></input>
					</div>
					<div class="form-group pwd">
						<label class="control-label bundle" for="pwd2">Confirm new password</label>
						<input disabled id="pwd2" class="form-control editable"
							type="password" maxlength="100"></input>
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label><input type="checkbox" id="resetInProgress"
								class="editable"> <span class="bundle">Reset in progress</span></label>
						</div>
						<div class="controls">
							<label class="checkbox-inline"><input id="active"
								type="checkbox" class="editable"> <span class="bundle">active-m</span></label>
							<label class="checkbox-inline"><input id="locked"
								type="checkbox" class="editable"> <span class="bundle">Locked</span></label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="groupPanel" style="display: none">
		<div id="result" class="row">
			<div class="col-sm-12">
				<table id="resultTable"
					class="table table-condensed">
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<div class="dlg-button-bar">
	<a class="label label-default pull-left" id="modifyLink" style="display: none;"><i
		class="fa fa-pencil"></i> <span class="bundle">Modify</span></a> <span
		style="margin-left: 50px;"> <a class="label label-danger"
		id="resetShowLink"> <i class="fa fa-key"></i> <span class="bundle">Reset/Show
				link</span> <i class="fa fa-eye"></i></a> <a class="label label-danger"
		id="resetSendLink"> <i class="fa fa-key"></i> <span class="bundle">Reset/Send
				link</span> <i class="fa fa-envelope"></i></a>
	</span>

	<div class="pull-right">
		<button type="button" class="btn btn-default cancel" id="cancelBtn">
			<i class="fa fa-remove"></i> <span class="bundle">Cancel</span>
		</button>
		<button type="button" class="btn btn-default save" id="saveBtn">
			<i class="fa fa-save"></i> <span class="bundle">Save</span>
		</button>
		<button type="button" class="btn btn-default cancel" id="closeBtn">
			<i class="fa fa-remove"></i> <span class="bundle">Close</span>
		</button>
	</div>
</div>
